/* Mixins */
.visible-scrollbar {
  /* Turn on single button up on top, and down on bottom */
  /* Turn off the down area up on top, and up area on bottom */
  /* Place The scroll down button at the bottom */
  /* Place The scroll up button at the up */
  /* Top area above thumb and below up button */
  /* Bottom area below thumb and down button */
  /* Track below and above */
  /* The thumb itself */
  /* Corner */
  /* Resizer */
}
.visible-scrollbar::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
.visible-scrollbar::-webkit-scrollbar-button:vertical {
  background-color: red;
}
.visible-scrollbar::-webkit-scrollbar-button:start:decrement {
  display: block;
  background: url('../../images/arrow-up.png');
  background-repeat: no-repeat;
  background-position: center;
}
.visible-scrollbar::-webkit-scrollbar-button:end:increment {
  display: block;
  background: url('../../images/arrow-down.png');
  background-repeat: no-repeat;
  background-position: center;
}
.visible-scrollbar::-webkit-scrollbar-button:vertical:start:increment,
.visible-scrollbar::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
.visible-scrollbar::-webkit-scrollbar-button:vertical:increment {
  background-color: #f1f1f1;
}
.visible-scrollbar::-webkit-scrollbar-button:vertical:decrement {
  background-color: #f1f1f1;
}
.visible-scrollbar::-webkit-scrollbar-track:vertical {
  background-color: blue;
  box-shadow: inset 0 0 5px #d7d7d7;
  -webkit-box-shadow: inset 0 0 5px #d7d7d7;
}
.visible-scrollbar::-webkit-scrollbar-track-piece:vertical:start {
  border: 1px solid #f1f1f1;
}
.visible-scrollbar::-webkit-scrollbar-track-piece:vertical:end {
  box-shadow: inset 0 0 5px #d7d7d7;
  -webkit-box-shadow: inset 0 0 5px #d7d7d7;
}
.visible-scrollbar::-webkit-scrollbar-track-piece {
  background-color: #f1f1f1;
}
.visible-scrollbar::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #c1c1c1;
}
.visible-scrollbar::-webkit-scrollbar-corner:vertical {
  background-color: #f1f1f1;
}
.visible-scrollbar::-webkit-scrollbar-resizer:vertical {
  background-color: gray;
}
.row {
  margin: 0;
}
.panel-body > .details-val {
  position: relative;
  bottom: auto;
  height: auto;
  margin-top: 14px;
}
@media (max-width: 580px) {
  .panel-body > .details-val {
    margin-top: 15px;
  }
}
.panel-body > .details-val .check-icon {
  display: inline-block !important;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  margin-right: 15px;
}
.panel-body > .details-val label {
  display: inline-block !important;
  font-size: 16px;
  vertical-align: middle;
  margin: 0;
  cursor: default !important;
}
@media (max-width: 580px) {
  .panel-body > .details-val label {
    font-size: 14px;
  }
}
.panel-body > .details-val text {
  display: block !important;
  margin-top: 10px;
  margin-left: 31px;
  font-weight: bold;
  line-height: 1.3;
}
.panel-body > .details-val text p {
  font-size: 14px;
  margin: 0;
}
@media (max-width: 580px) {
  .panel-body > .details-val text p {
    font-size: 12px;
  }
}
.panel-body > .details-val text p.store-name,
.panel-body > .details-val text p.store-schedule {
  color: #000;
}
.panel-body > .details-val text p.store-name {
  text-transform: uppercase;
  margin-bottom: 3px;
}
.panel-body > .details-val text p.store-address {
  color: #58595B;
}
.panel-body > .details-val#store-details-val text {
  background-color: #E6E6E6;
  padding: 10px 15px;
}
.details-val {
  display: none;
  position: absolute;
  bottom: 18px;
  height: 12px;
  z-index: 2;
  line-height: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.details-val .check-icon {
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url("../../images/infield-images/green-circle.png") center center no-repeat;
  background-size: contain;
}
.ui-autocomplete {
  font-family: 'fs_elliot_proregular', Arial, sans-serif;
  border: 1px solid #CCC;
  background: none;
  background-color: #FFF;
}
.ui-autocomplete.stores-list-dropdown {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  /* Turn on single button up on top, and down on bottom */
  /* Turn off the down area up on top, and up area on bottom */
  /* Place The scroll down button at the bottom */
  /* Place The scroll up button at the up */
  /* Top area above thumb and below up button */
  /* Bottom area below thumb and down button */
  /* Track below and above */
  /* The thumb itself */
  /* Corner */
  /* Resizer */
}
.ui-autocomplete.stores-list-dropdown::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
.ui-autocomplete.stores-list-dropdown::-webkit-scrollbar-button:vertical {
  background-color: red;
}
.ui-autocomplete.stores-list-dropdown::-webkit-scrollbar-button:start:decrement {
  display: block;
  background: url('../../images/arrow-up.png');
  background-repeat: no-repeat;
  background-position: center;
}
.ui-autocomplete.stores-list-dropdown::-webkit-scrollbar-button:end:increment {
  display: block;
  background: url('../../images/arrow-down.png');
  background-repeat: no-repeat;
  background-position: center;
}
.ui-autocomplete.stores-list-dropdown::-webkit-scrollbar-button:vertical:start:increment,
.ui-autocomplete.stores-list-dropdown::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
.ui-autocomplete.stores-list-dropdown::-webkit-scrollbar-button:vertical:increment {
  background-color: #f1f1f1;
}
.ui-autocomplete.stores-list-dropdown::-webkit-scrollbar-button:vertical:decrement {
  background-color: #f1f1f1;
}
.ui-autocomplete.stores-list-dropdown::-webkit-scrollbar-track:vertical {
  background-color: blue;
  box-shadow: inset 0 0 5px #d7d7d7;
  -webkit-box-shadow: inset 0 0 5px #d7d7d7;
}
.ui-autocomplete.stores-list-dropdown::-webkit-scrollbar-track-piece:vertical:start {
  border: 1px solid #f1f1f1;
}
.ui-autocomplete.stores-list-dropdown::-webkit-scrollbar-track-piece:vertical:end {
  box-shadow: inset 0 0 5px #d7d7d7;
  -webkit-box-shadow: inset 0 0 5px #d7d7d7;
}
.ui-autocomplete.stores-list-dropdown::-webkit-scrollbar-track-piece {
  background-color: #f1f1f1;
}
.ui-autocomplete.stores-list-dropdown::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #c1c1c1;
}
.ui-autocomplete.stores-list-dropdown::-webkit-scrollbar-corner:vertical {
  background-color: #f1f1f1;
}
.ui-autocomplete.stores-list-dropdown::-webkit-scrollbar-resizer:vertical {
  background-color: gray;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item {
  font-size: 14px;
  padding: 8px 15px;
  pointer-events: none;
  cursor: default;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item.stores-near-you:not(.category-container) .ui-autocomplete-category,
.ui-autocomplete.stores-list-dropdown .ui-menu-item.other-stores:not(.category-container) .ui-autocomplete-category {
  display: none !important;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item.stores-near-you.category-container,
.ui-autocomplete.stores-list-dropdown .ui-menu-item.other-stores.category-container {
  padding-top: 52px;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item.stores-near-you.category-container:first-child .ui-autocomplete-category hr,
.ui-autocomplete.stores-list-dropdown .ui-menu-item.other-stores.category-container:first-child .ui-autocomplete-category hr {
  display: none !important;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item.stores-near-you.category-container:not(:first-child),
.ui-autocomplete.stores-list-dropdown .ui-menu-item.other-stores.category-container:not(:first-child) {
  padding-top: 76px;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item.stores-near-you.category-container:not(:first-child) .ui-autocomplete-category hr,
.ui-autocomplete.stores-list-dropdown .ui-menu-item.other-stores.category-container:not(:first-child) .ui-autocomplete-category hr {
  margin-top: 10px;
  margin-bottom: 12px;
  border-top-color: #333;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item.stores-near-you.category-container .ui-autocomplete-category,
.ui-autocomplete.stores-list-dropdown .ui-menu-item.other-stores.category-container .ui-autocomplete-category {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  background-color: #FFF !important;
  border-left-color: #D1D1D1 !important;
  border-right-color: #D1D1D1 !important;
  padding: 12px 15px;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item.stores-near-you.category-container .ui-autocomplete-category:not(:first-child),
.ui-autocomplete.stores-list-dropdown .ui-menu-item.other-stores.category-container .ui-autocomplete-category:not(:first-child) {
  border-top-color: #D1D1D1 !important;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item.stores-near-you.category-container .ui-autocomplete-category:not(:last-child),
.ui-autocomplete.stores-list-dropdown .ui-menu-item.other-stores.category-container .ui-autocomplete-category:not(:last-child) {
  border-bottom-color: #FFF !important;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item.stores-near-you.category-container .ui-autocomplete-category:first-child,
.ui-autocomplete.stores-list-dropdown .ui-menu-item.other-stores.category-container .ui-autocomplete-category:first-child {
  border-top-color: #D1D1D1 !important;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item.ui-state-focus {
  background-color: #E7E7E7 !important;
  border-top-color: #E7E7E7 !important;
  border-left-color: #D1D1D1 !important;
  border-right-color: #D1D1D1 !important;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item.ui-state-focus:not(.category-container) {
  border-top-color: #E7E7E7 !important;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item.ui-state-focus.category-container:not(:first-child) {
  border-top-color: #FFF !important;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item.ui-state-focus.category-container:first-child {
  border-top-color: #D1D1D1 !important;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item.ui-state-focus:not(:last-child) {
  border-bottom-color: #E7E7E7 !important;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item.ui-state-focus:last-child {
  border-bottom-color: #D1D1D1 !important;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item > div {
  pointer-events: auto;
  cursor: pointer;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item > div > span {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item > div > span.store-name,
.ui-autocomplete.stores-list-dropdown .ui-menu-item > div > span.store-schedule {
  color: #000;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item > div > span.store-name {
  text-transform: uppercase;
  margin-bottom: 3px;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item > div > span.store-address {
  color: #58595B;
}
.ui-autocomplete.stores-list-dropdown .ui-menu-item .ui-state-highlight {
  background: none;
  border: none;
  color: #E3422E;
}
.ui-autocomplete .ui-menu-item {
  font-size: 14px;
  color: #333;
  font-weight: normal !important;
  padding: 6px 8px;
}
.ui-autocomplete .ui-state-focus {
  border-color: #1E90FF !important;
  color: #FFF;
  background: none;
  background-color: #1E90FF;
}
.ui-autocomplete-input.area-selected {
  padding-left: 18px !important;
}
#checkout-content {
  overflow: hidden;
  padding: 0;
}
@media (max-width: 768px) {
  #checkout-content {
    padding: 0 15px;
  }
}
#checkout-content > .required-prompt {
  display: none;
  opacity: 0;
}
#checkout-form-container {
  padding: 0;
}
#checkout-form-container > div:first-child {
  padding: 0;
}
#checkout-form-container > div:last-child {
  padding-right: 0;
}
.panel-heading {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  padding: 25px 0 20px 0;
}
#form-container {
  height: 315px;
  padding: 15px 0;
  margin: 0;
}
#form-container #section-container {
  position: relative;
  height: 100%;
}
#form-container .panel.current {
  opacity: 1;
  visibility: visible;
  left: 0 !important;
}
#form-container .panel.prev,
#form-container .panel.skip-prev {
  left: -100% !important;
}
#form-container .panel:not(.prev):not(.current) {
  left: 100% !important;
}
#form-container .panel {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #FFF;
  border-radius: 0;
  box-shadow: none;
  vertical-align: top;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#form-container .panel .panel-content > div[align='center'] {
  height: 380px;
  line-height: 380px;
}
@media (max-width: 768px) {
  #form-container .panel .panel-content > div[align='center'] {
    height: auto;
    line-height: 1;
    padding: 40px 15px;
  }
}
#form-container .panel .panel-content > div[align='center'] > img {
  display: inline-block;
}
#form-container .panel .panel-content .form-alert:not(#pickup_time_caveat) {
  margin-top: 0;
}
#form-container .panel .panel-body {
  padding: 0;
}
#form-container .panel .panel-body .panel-row {
  position: relative;
  margin: 0;
}
#form-container .panel .panel-body .panel-row .form-group {
  position: relative;
  margin: 0;
  /* 
					.chosen-container-single {
						position: relative;
						width: 100% !important;
						box-shadow: none;
						z-index: 3;
						.chosen-single {
							height: 30px;
							line-height: 32px;
							background: none;
							font-size: 16px;
							font-weight: bold;
							border: 0;
							color: #000;
							border-radius: 0;
							box-shadow: none !important;
							padding: 0 0 0 3px;
						}
						.chosen-drop {
							top: 1px;
							border-top: 1px solid #F2F2F2;
							border: 0;
							border-radius: 0;
							box-shadow: 0 1px 1px #CCC;
							.chosen-search {
								input {
									height: 25px;
								}
							}
							.chosen-results {
								max-height: 75px;
								.highlighted {
									background-color: #F2F2F2 !important;
								}
								li {
									color: #000;
									font-size: 16px;
									font-weight: bold;
								}
							}
						}
					}
					*/
  /*For Document Upload Section*/
  /* Required Prompt */
}
@media (min-width: 769px) {
  #form-container .panel .panel-body .panel-row .form-group {
    height: auto;
  }
}
@media (max-width: 580px) {
  #form-container .panel .panel-body .panel-row .form-group.col-xs-4 {
    width: 100%;
    border-left: 0 !important;
  }
}
@media (max-width: 480px) {
  #form-container .panel .panel-body .panel-row .form-group.col-xs-6 {
    width: 100%;
  }
}
#form-container .panel .panel-body .panel-row .form-group label.field-label {
  cursor: default !important;
}
#form-container .panel .panel-body .panel-row .form-group label.field-label .icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 17px;
  margin-top: -5px;
  margin-left: 7px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 2;
}
#form-container .panel .panel-body .panel-row .form-group label.field-label .icon.calendar {
  background-image: url("../../images/checkout-forms/datepicker.png");
}
#form-container .panel .panel-body .panel-row .form-group input:not([type='radio']),
#form-container .panel .panel-body .panel-row .form-group select {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #FFF;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  padding: 0;
}
#form-container .panel .panel-body .panel-row .form-group input:not([type='radio'])::-webkit-input-placeholder,
#form-container .panel .panel-body .panel-row .form-group select::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
}
#form-container .panel .panel-body .panel-row .form-group input:not([type='radio']):-moz-placeholder,
#form-container .panel .panel-body .panel-row .form-group select:-moz-placeholder {
  color: #999;
  font-weight: normal;
}
#form-container .panel .panel-body .panel-row .form-group input:not([type='radio']):-ms-input-placeholder,
#form-container .panel .panel-body .panel-row .form-group select:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
}
#form-container .panel .panel-body .panel-row .form-group input:not([type='radio']):-os-input-placeholder,
#form-container .panel .panel-body .panel-row .form-group select:-os-input-placeholder {
  color: #999;
  font-weight: normal;
}
#form-container .panel .panel-body .panel-row .form-group input:not([type='radio']) {
  z-index: 2;
}
#form-container .panel .panel-body .panel-row .form-group select {
  z-index: 3;
}
#form-container .panel .panel-body .panel-row .form-group input:focus,
#form-container .panel .panel-body .panel-row .form-group select:focus {
  outline: none;
}
#form-container .panel .panel-body .panel-row .form-group input[type='radio'] {
  margin: 7px 0 0 -20px;
}
#form-container .panel .panel-body .panel-row .form-group #birthday-datepicker {
  cursor: text;
}
#form-container .panel .panel-body .panel-row .form-group .accepted-id-container {
  display: none;
}
#form-container .panel .panel-body .panel-row .form-group .accepted-id-container p {
  font-weight: 700;
  font-size: 14px;
  margin: 0 0px 5px 0px;
}
#form-container .panel .panel-body .panel-row .form-group .accepted-id-container ul {
  margin: 0 20px 5px 20px;
  padding: 0;
}
#form-container .panel .panel-body .panel-row .form-group .accepted-id-container span {
  font-style: italic;
  color: #666766;
}
#form-container .panel .panel-body .panel-row .form-group .dropzone {
  min-height: 120px;
  border-radius: 3px;
  border: 2px dashed #d1d1d2;
  position: relative;
  text-align: center;
  z-index: 2;
  padding: 10px 20px;
}
#form-container .panel .panel-body .panel-row .form-group .dropzone input {
  visibility: hidden;
}
#form-container .panel .panel-body .panel-row .form-group .dropzone .dz-message {
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0px;
}
#form-container .panel .panel-body .panel-row .form-group .dropzone.dz-drag-hover {
  border: 3px dashed #1769b3;
}
#form-container .panel .panel-body .panel-row .form-group .dropzone.dz-started {
  border: 3px dashed #1769b3;
  padding: 10px 20px;
}
#form-container .panel .panel-body .panel-row .form-group .dropzone.doc-upload-success {
  border: 3px dashed #5EBA7D;
}
#form-container .panel .panel-body .panel-row .form-group .dropzone.doc-upload-error {
  border: 3px dashed #be2626;
}
#form-container .panel .panel-body .panel-row .form-group #doc-upload-btn {
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 14px;
  width: 120px;
  border-radius: 0px;
  background-color: #1953A5;
  padding: 6px 12px;
  display: block;
  margin: 10px auto 0px;
  font-weight: 300;
}
#form-container .panel .panel-body .panel-row .form-group #doc-upload-btn:hover {
  background-color: #1953A5;
}
#form-container .panel .panel-body .panel-row .form-group .required-prompt {
  position: absolute;
  top: -1px;
  right: -1px;
  left: -1px;
  bottom: -1px;
  border: 1px solid red;
  z-index: -1;
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#form-container .panel .panel-body .panel-row .form-group .required-prompt span {
  display: inline-block;
  position: absolute;
  right: -1px;
  top: 100%;
  max-width: 75%;
  background-color: red;
  color: white;
  font-size: 12px;
  text-align: right;
  padding: 3px 6px;
}
#form-container .panel .panel-body .panel-row .radio-group {
  position: relative;
  z-index: 2;
  margin-top: 10px;
}
#form-container .panel .panel-body .panel-row .radio-group .radio-inline {
  position: relative;
  display: inline-block;
  width: 49%;
  font-size: 16px;
  font-weight: bold;
  vertical-align: top;
  padding: 0;
  float: left;
}
@media (min-width: 515px) and (max-width: 569px) {
  #form-container .panel .panel-body .panel-row .radio-group .radio-inline {
    width: 48%;
  }
}
#form-container .panel .panel-body .panel-row .radio-group .radio-inline.selected .radio-button {
  background-image: url("../../images/checkout-forms/radio_button_selected.png");
}
#form-container .panel .panel-body .panel-row .radio-group .radio-inline.selected .form-group {
  display: block !important;
}
#form-container .panel .panel-body .panel-row .radio-group .radio-inline .form-group {
  display: none;
  padding-bottom: 0;
  padding-right: 0;
  margin-left: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 0 !important;
}
#form-container .panel .panel-body .panel-row .radio-group .radio-inline .form-group input {
  border: 1px solid #DDD;
  padding: 0 4px;
}
#form-container .panel .panel-body .panel-row .radio-group .radio-inline .form-group input::-webkit-input-placeholder {
  color: #FFF;
  font-weight: normal;
}
#form-container .panel .panel-body .panel-row .radio-group .radio-inline .form-group input:-moz-placeholder {
  color: #FFF;
  font-weight: normal;
}
#form-container .panel .panel-body .panel-row .radio-group .radio-inline .form-group input:-ms-input-placeholder {
  color: #FFF;
  font-weight: normal;
}
#form-container .panel .panel-body .panel-row .radio-group .radio-inline .form-group input:-os-input-placeholder {
  color: #FFF;
  font-weight: normal;
}
@media (max-width: 515px) {
  #form-container .panel .panel-body .panel-row .radio-group .radio-inline {
    display: block;
    width: 100%;
    margin: 0;
  }
  #form-container .panel .panel-body .panel-row .radio-group .radio-inline:first-child {
    margin: 5px 0 5px 0;
  }
}
#form-container .panel .panel-body .panel-row .radio-group .radio-button {
  display: inline-block;
  height: 18px;
  width: 18px;
  background-image: url("../../images/checkout-forms/radio_button.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  cursor: pointer;
  margin-top: -2px;
  margin-right: 3px;
}
#form-container .panel .panel-body .panel-row .radio-group.sm {
  margin-top: 0;
}
#form-container .panel .panel-body .panel-row .radio-group.sm > div {
  padding-top: 10px;
}
@media (max-width: 768px) {
  #form-container .panel .panel-body .panel-row .radio-group.sm > div:not(:first-child) {
    padding-top: 0;
  }
  #form-container .panel .panel-body .panel-row .radio-group.sm > div:last-child {
    padding-bottom: 10px;
  }
}
#form-container .panel .panel-body .panel-row .radio-group.sm > div .radio {
  font-size: 14px;
  margin: 5px 0;
}
@media (max-width: 768px) {
  #form-container .panel .panel-body .panel-row .radio-group.sm > div .radio:last-child {
    margin-bottom: 0;
  }
}
#form-container .panel .panel-body .panel-row .radio-group.sm .radio-button {
  height: 13px;
  width: 13px;
  background-image: url("../../images/checkout-forms/radio_button_small.png");
}
#form-container .panel .panel-body .panel-row .radio-group.sm .radio-button.selected {
  background-image: url("../../images/checkout-forms/radio_button_small_selected.png");
}
#form-container .panel .panel-body:not(.no-border) {
  border: 1px solid #A9A9AB;
}
@media (max-width: 1200px) {
  #form-container .panel .panel-body:not(.no-border) {
    border-top: 0 !important;
  }
}
@media (max-width: 1200px) {
  #form-container .panel .panel-body:not(.no-border) .panel-row {
    border-top: 0 !important;
  }
}
#form-container .panel .panel-body:not(.no-border) .panel-row .form-group {
  padding: 10px;
}
@media (max-width: 1200px) {
  #form-container .panel .panel-body:not(.no-border) .panel-row .form-group {
    border-top: 1px solid #A9A9AB;
  }
}
@media (max-width: 1199px) {
  #form-container .panel .panel-body:not(.no-border) .panel-row .form-group.col-xs-12:not(.col-sm-6),
  #form-container .panel .panel-body:not(.no-border) .panel-row .form-group.col-xs-6:nth-child(odd) {
    border-left: 0 !important;
  }
}
@media (max-width: 767px) {
  #form-container .panel .panel-body:not(.no-border) .panel-row .form-group.col-xs-12.col-sm-6 {
    border-left: 0 !important;
  }
}
@media (max-width: 480px) {
  #form-container .panel .panel-body:not(.no-border) .panel-row .form-group.col-xs-6 {
    border-left: 0 !important;
  }
}
#form-container .panel .panel-body:not(.no-border) .panel-row .form-group label:not(.radio-inline) {
  cursor: default;
  font-weight: normal;
  margin-bottom: 5px;
}
#form-container .panel .panel-body:not(.no-border) .panel-row .form-group label.field-label {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
}
#form-container .panel .panel-body:not(.no-border) .panel-row .form-group label.field-label text {
  text-transform: none;
}
#form-container .panel .panel-body:not(.no-border) .panel-row .form-group label.field-label a {
  color: #CCC;
  text-transform: none;
  text-decoration: underline;
  margin-left: 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#form-container .panel .panel-body:not(.no-border) .panel-row .form-group label.field-label a:hover {
  color: #38B0E3 !important;
}
#form-container .panel .panel-body:not(.no-border) .panel-row .form-group label.field-label a {
  font-size: 12px;
}
#form-container .panel .panel-body:not(.no-border) .panel-row .form-group label.field-warning {
  display: inline-block;
  vertical-align: middle;
}
#form-container .panel .panel-body:not(.no-border) .panel-row .form-group label.field-warning span {
  font-size: 12px;
  color: #333333;
}
#form-container .panel .panel-body:not(.no-border) .panel-row .form-group:not(:first-child) {
  border-left: 1px solid #A9A9AB;
}
#form-container .panel .panel-body:not(.no-border) .panel-row:not(:first-child) {
  border-top: 1px solid #A9A9AB;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) {
  /*For Terms and Condition Section*/
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered):not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  #form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered):not(:last-child) {
    margin-bottom: 15px;
  }
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group {
  height: auto !important;
  padding: 10px 0;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group > .label-container {
  padding: 0;
}
@media (min-width: 993px) and (max-width: 1200px) {
  #form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group > .label-container {
    width: 10%;
  }
}
@media (max-width: 400px) {
  #form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group > .label-container {
    width: 20%;
  }
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group > .label-container label {
  padding: 6px 0;
  margin: 0;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group > .input-container {
  padding-right: 0;
}
@media (min-width: 993px) and (max-width: 1200px) {
  #form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group > .input-container {
    width: 90%;
  }
}
@media (max-width: 400px) {
  #form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group > .input-container {
    width: 80%;
  }
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group > .input-container input,
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group > .input-container select {
  width: auto;
}
@media (max-width: 400px) {
  #form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group > .input-container input,
  #form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group > .input-container select {
    width: 100%;
  }
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group > label {
  color: #666666;
  font-size: 16px;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group > label text {
  display: block;
  font-size: 14px;
  color: #58595B;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group > input,
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .form-group > select {
  border: 1px solid #DDD;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .radio-group {
  padding: 5px 25px;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) > .radio-group .radio-inline {
  font-size: 14px;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) .toggle-select {
  position: relative;
  display: inline-block;
  height: 32px;
  border: 1px solid #DDD;
  padding: 2px 35px 2px 10px;
  line-height: 27px;
  cursor: pointer;
}
@media (max-width: 400px) {
  #form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) .toggle-select {
    width: 100%;
  }
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) .toggle-select text {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) .toggle-select text,
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) .toggle-select ul li {
  font-size: 14px;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) .toggle-select .toggle-arrow {
  position: absolute;
  top: 0;
  right: 6px;
  bottom: 0;
  width: 12px;
  background: url("../../images/infield-images/dropdown-new.png") center center no-repeat;
  background-size: contain;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) .toggle-select ul {
  display: none;
  list-style: none;
  position: absolute;
  top: 31px;
  left: 0;
  right: 0;
  background-color: #FFF;
  padding: 0;
  margin: 0;
  z-index: 3;
  box-shadow: 0 1px 1px #CCC;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) .toggle-select ul li {
  background-color: #FFF;
  padding: 2px 10px;
  cursor: pointer;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) .toggle-select ul li:hover {
  background-color: #F2F2F2;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) .toggle-select ul li.selected-option {
  display: none;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #toggle-select-content {
  padding: 0;
  margin-top: 5px;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #toggle-select-content > .toggle-option-content:not(#select-preferred-store-pickup) {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  opacity: 0;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #toggle-select-content > .toggle-option-content:not(#select-preferred-store-pickup).shown {
  opacity: 1;
  left: 0;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #toggle-select-content #select-preferred-store-pickup > .panel-body {
  border: 0 !important;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #toggle-select-content #select-preferred-store-pickup #preferred-store-container {
  border: 1px solid #A9A9AB !important;
  float: none;
  padding: 10px 15px;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #toggle-select-content #select-preferred-store-pickup #preferred-store {
  font-weight: normal;
  font-size: 14px;
  color: #000;
  padding: 0;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #toggle-select-content #select-preferred-store-pickup #preferred-store::-webkit-input-placeholder {
  color: #666666;
  font-weight: normal;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #toggle-select-content #select-preferred-store-pickup #preferred-store:-moz-placeholder {
  color: #666666;
  font-weight: normal;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #toggle-select-content #select-preferred-store-pickup #preferred-store:-ms-input-placeholder {
  color: #666666;
  font-weight: normal;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #toggle-select-content #select-preferred-store-pickup #preferred-store:-os-input-placeholder {
  color: #666666;
  font-weight: normal;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #preferred-store-label {
  width: 100% !important;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #use-my-billing-address {
  display: block;
  background-color: #E6E6E6;
  padding: 10px 15px;
  margin: 0 0 10px 0;
  line-height: 2;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #use-my-billing-address h3,
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #use-my-billing-address a {
  font-weight: bold;
  margin: 0;
  vertical-align: middle;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #use-my-billing-address h3 {
  font-size: 15px;
  text-transform: capitalize;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.4;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #use-my-billing-address a {
  font-size: 13px;
  color: #58595B;
  text-decoration: underline;
  float: right;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content {
  border: 1px solid #D1D1D2;
  margin-bottom: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 216px;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  /* Turn on single button up on top, and down on bottom */
  /* Turn off the down area up on top, and up area on bottom */
  /* Place The scroll down button at the bottom */
  /* Place The scroll up button at the up */
  /* Top area above thumb and below up button */
  /* Bottom area below thumb and down button */
  /* Track below and above */
  /* The thumb itself */
  /* Corner */
  /* Resizer */
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content::-webkit-scrollbar-button:vertical {
  background-color: red;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content::-webkit-scrollbar-button:start:decrement {
  display: block;
  background: url('../../images/arrow-up.png');
  background-repeat: no-repeat;
  background-position: center;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content::-webkit-scrollbar-button:end:increment {
  display: block;
  background: url('../../images/arrow-down.png');
  background-repeat: no-repeat;
  background-position: center;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content::-webkit-scrollbar-button:vertical:start:increment,
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content::-webkit-scrollbar-button:vertical:increment {
  background-color: #f1f1f1;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content::-webkit-scrollbar-button:vertical:decrement {
  background-color: #f1f1f1;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content::-webkit-scrollbar-track:vertical {
  background-color: blue;
  box-shadow: inset 0 0 5px #d7d7d7;
  -webkit-box-shadow: inset 0 0 5px #d7d7d7;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content::-webkit-scrollbar-track-piece:vertical:start {
  border: 1px solid #f1f1f1;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content::-webkit-scrollbar-track-piece:vertical:end {
  box-shadow: inset 0 0 5px #d7d7d7;
  -webkit-box-shadow: inset 0 0 5px #d7d7d7;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content::-webkit-scrollbar-track-piece {
  background-color: #f1f1f1;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #c1c1c1;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content::-webkit-scrollbar-corner:vertical {
  background-color: #f1f1f1;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content::-webkit-scrollbar-resizer:vertical {
  background-color: gray;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content .terms-condition-inner {
  padding: 15px 15px;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content .terms-condition-inner > p {
  font-size: 14px;
  word-break: break-all;
  word-spacing: normal;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content .terms-condition-inner > p:first-child {
  margin-bottom: 0;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content .terms-condition-inner > p > span {
  line-height: 1 !important;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-content .terms-condition-inner > h4 {
  font-size: 16px;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-caveat {
  padding: 0;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row:not(.bordered) #terms-condition-caveat > h4 {
  font-weight: 800;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row.bordered {
  border: 1px solid #A9A9AB;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row.bordered .form-group {
  padding: 10px;
}
@media (max-width: 1199px) {
  #form-container .panel .panel-content > .panel-body.no-border > .panel-row.bordered .form-group.col-xs-12,
  #form-container .panel .panel-content > .panel-body.no-border > .panel-row.bordered .form-group.col-xs-6:nth-child(odd) {
    border-left: 0 !important;
  }
}
@media (max-width: 480px) {
  #form-container .panel .panel-content > .panel-body.no-border > .panel-row.bordered .form-group.col-xs-6 {
    border-left: 0 !important;
  }
  #form-container .panel .panel-content > .panel-body.no-border > .panel-row.bordered .form-group.col-xs-6:nth-child(even) {
    border-top: 1px solid #A9A9AB;
  }
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row.bordered .form-group label:not(.radio-inline) {
  cursor: default;
  font-weight: normal;
  margin-bottom: 5px;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row.bordered .form-group label.field-label {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row.bordered .form-group label.field-label text {
  text-transform: none;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row.bordered .form-group label.field-label a {
  color: #CCC;
  text-transform: none;
  text-decoration: underline;
  margin-left: 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row.bordered .form-group label.field-label a:hover {
  color: #38B0E3 !important;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row.bordered .form-group label.field-label a {
  font-size: 12px;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row.bordered .form-group label.field-warning {
  display: inline-block;
  vertical-align: middle;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row.bordered .form-group label.field-warning span {
  font-size: 12px;
  color: #333333;
}
#form-container .panel .panel-content > .panel-body.no-border > .panel-row.bordered .form-group:not(:first-child) {
  border-left: 1px solid #A9A9AB;
}
#form-container .panel .panel-content > .panel-body.no-border #pickup-details-label {
  padding: 4px 0;
  margin-bottom: 15px;
}
@media (max-width: 1200px) {
  #form-container .panel .panel-content > .panel-body.no-border #pickup-details {
    margin-bottom: 25px !important;
  }
}
#form-container .panel .panel-body.student .panel-row:not(#occupation-container) {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#form-container .panel .panel-body.student #occupation-container {
  border-bottom: 0 !important;
}
#form-container .panel .panel-body.student .panel-row .form-group:not(#occupation-form-group) {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#form-container .panel .panel-body.student .panel-row #occupation-form-group {
  width: 100% !important;
  border-right: 0 !important;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}
#form-container #shipping-details #panel-shipping {
  margin-top: 25px !important;
}
@media (max-width: 1200px) {
  #form-container #shipping-details #panel-shipping {
    margin-bottom: 25px !important;
  }
}
#form-container #shipping-details #panel-shipping > .form-group {
  padding: 0;
}
#form-container #shipping-details #panel-shipping .label-container {
  width: auto;
  min-width: 125px;
}
#form-container #shipping-details #panel-shipping .input-container {
  width: auto;
}
@media (max-width: 367px) {
  #form-container #shipping-details #panel-shipping .input-container {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 1200px) {
  #form-container #shipping-details #panel-installation {
    margin-bottom: 25px !important;
  }
}
#form-container #shipping-details #panel-installation > .form-group {
  padding: 0;
}
#form-container #shipping-details #panel-installation .label-container {
  width: auto;
}
@media (max-width: 1200px) {
  #form-container #shipping-details #panel-bottom #shipping-buttons-container {
    padding-top: 25px;
  }
  #form-container #shipping-details #panel-bottom > div:not(#shipping-buttons-container) {
    padding: 0;
  }
}
.form-alert {
  padding: 10px 15px;
  background-color: #FCE464;
  font-size: 14px;
  border-radius: 5px;
  line-height: 1;
  margin: 10px 0 25px 0;
}
@media (max-width: 768px) {
  .form-alert {
    padding: 10px;
  }
}
.form-alert .alert-icon,
.form-alert p {
  display: inline-block;
  vertical-align: middle;
}
.form-alert .alert-icon {
  height: 15px;
  width: 16px;
  background: url('../../images/checkout-forms/form_alert.png') center center no-repeat;
  background-size: contain;
  margin-right: 10px;
}
@media (max-width: 580px) {
  .form-alert .alert-icon {
    height: 11px;
    width: 12px;
    margin-right: 6px;
  }
}
.form-alert p {
  width: 90%;
  line-height: 1;
  margin: 0;
}
@media (max-width: 768px) {
  .form-alert p {
    font-size: 12px !important;
  }
}
@media (max-width: 345px) {
  .form-alert p {
    width: 88%;
  }
}
.form-alert p .peak-hrs {
  color: red;
}
#panel-bottom {
  margin: 0;
}
#panel-bottom div:not(#shipping-buttons-container) {
  padding: 25px 0;
}
#panel-bottom div#shipping-buttons-container {
  padding: 0;
}
#panel-bottom div#shipping-buttons-container > div {
  padding: 0;
}
@media (max-width: 500px) {
  #panel-bottom div#shipping-buttons-container button {
    width: 100%;
  }
  #panel-bottom div#shipping-buttons-container button:not(:last-child) {
    margin-bottom: 5px;
  }
}
@media (max-width: 768px) {
  #panel-bottom div {
    padding: 10px 0px;
  }
}
#panel-bottom div a {
  display: inline-block;
  color: #58595B;
  font-size: 12px;
  text-decoration: underline;
  padding: 10px 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#panel-bottom div a:hover {
  color: #38B0E3 !important;
}
#panel-bottom div a.next-line {
  display: block;
  margin-right: 0;
}
#panel-bottom div button {
  background-color: #1953a5;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 16px;
  white-space: normal;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#panel-bottom div button.orange-btn {
  background: #f29432;
  color: #FFFFFF;
  font-weight: 300;
}
#panel-bottom > div:last-child {
  text-align: right;
}
#panel-bottom > div:last-child a {
  margin-right: 10px;
}
@media (max-width: 400px) {
  #panel-bottom > div:last-child a {
    margin-right: 0;
  }
}
#terms-condition-details .panel-content #panel-bottom #button-terms-condition-details {
  display: inline;
  float: right;
  z-index: 1;
}
@media (max-width: 480px) {
  #terms-condition-details .panel-content #panel-bottom #button-terms-condition-details {
    float: none;
    text-align: center;
    font-size: 13px;
  }
}
#terms-condition-details .panel-content #panel-bottom #rwd-button-terms-condition {
  clear: both;
  padding: 0px;
  text-align: center;
}
#terms-condition-details .panel-content #panel-bottom #prev-step {
  float: none;
}
@media (max-width: 600) {
  #terms-condition-details .panel-content #panel-bottom #prev-step {
    float: right;
  }
}
@media (max-width: 480px) {
  #terms-condition-details .panel-content #panel-bottom #prev-step {
    float: right;
  }
}
@media (max-width: 320px) {
  #terms-condition-details .panel-content #panel-bottom #prev-step {
    float: right;
  }
}
.panel-heading .popup {
  margin-top: 10px;
}
.panel-heading .popup .note {
  margin-bottom: 0;
}
.panel-heading .popup .popup-heading {
  display: none !important;
}
.panel-heading .popup .content-details {
  margin-top: 10px;
}
.panel-heading .popup .content-details p,
.panel-heading .popup .content-details ul li {
  font-weight: normal;
}
.panel-heading .popup .content-details ul:last-child {
  margin-bottom: 0;
}
.popup {
  display: none;
}
.popup.important .note {
  border-radius: 0;
}
.popup.important .note .important-icon {
  display: inline-block;
  height: 14px;
  width: 19px;
  margin-right: 8px;
  vertical-align: middle;
  background: url("../../images/icons/important.png") center center no-repeat;
  background-size: contain;
}
.popup.important .note h3 {
  display: inline;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
}
.popup.important .note h4 {
  margin-top: 5px;
}
.popup.important .arrow-up {
  display: none;
}
.note {
  position: relative;
  background-color: #E6E6E6;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .note {
    margin-bottom: 10px;
  }
}
.note h4 {
  color: #333333;
  font-size: 17px;
  margin: 0;
}
@media (max-width: 768px) {
  .note h4 {
    font-size: 12px;
  }
}
.content-details p {
  font-size: 14px;
  margin-bottom: 0;
}
.content-details ul li {
  font-size: 12px;
  line-height: 1.4;
}
#sidebar {
  padding-top: 80px;
  padding-left: 50px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 992px) {
  #sidebar {
    padding-left: 40px;
  }
}
@media (max-width: 768px) {
  #sidebar {
    padding: 0 !important;
  }
  #sidebar #norton-secured {
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  #sidebar #norton-secured {
    margin: 0 auto;
    margin-top: 60px;
  }
}
#sidebar .popup {
  position: relative;
  top: 30px;
}
#sidebar .popup .popup-heading {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
}
#sidebar .popup > .note {
  margin: 0 -25px 25px -25px;
}
#sidebar .popup:not(:last-child) {
  margin-bottom: 60px;
}
#sidebar .note .arrow-up {
  position: absolute;
  top: -40px;
  left: 0;
  display: inline-block;
  border-width: 25px;
  border-left-width: 0 !important;
  border-bottom-color: #E6E6E6 !important;
  border-color: transparent;
  border-style: solid;
}
@media (min-width: 769px) {
  #sidebar .info-block {
    padding: 0;
  }
}
@media (max-width: 580px) {
  #sidebar .info-block {
    width: 100%;
    padding: 0;
  }
}
#sidebar .info-block h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
}
#sidebar .info-block p {
  font-size: 14px;
  margin-bottom: 0;
}
@media (min-width: 769px) and (max-width: 1200px) {
  #sidebar .info-block p br {
    display: none;
  }
}
#sidebar .info-block:nth-last-child(2) + .popup {
  top: 12px !important;
}
#checkout-footer {
  text-align: center;
  margin: 20px 40px;
}
#review-order-container {
  padding: 0;
}
@media (max-width: 580px) {
  #review-order-container {
    padding: 0 0 55px 0;
  }
}
@media (max-width: 992px) {
  #review-order-container .panel-heading {
    padding-bottom: 10px;
  }
}
#review-order-container .panel-body {
  padding: 0;
}
#review-order-container h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}
@media (min-width: 993px) {
  #review-order-container #your-info {
    margin-bottom: 40px !important;
  }
}
@media (max-width: 992px) {
  #review-order-container #your-info {
    margin-bottom: 25px !important;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  #review-order-container #your-info {
    margin: 0 -24px 25px -24px !important;
  }
}
@media (max-width: 767px) {
  #review-order-container #your-info {
    margin: 0 -15px 25px -15px !important;
  }
}
@media (max-width: 992px) {
  #review-order-container #your-info h3 {
    display: none;
  }
}
#review-order-container #your-info #info-row {
  background-color: #E7E7E7;
  padding: 18px 15px;
}
@media (min-width: 769px) and (max-width: 992px) {
  #review-order-container #your-info #info-row {
    padding: 5px 15px;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  #review-order-container #your-info #info-row {
    padding: 5px 10px;
  }
}
@media (max-width: 767px) {
  #review-order-container #your-info #info-row {
    padding: 5px 0;
  }
}
@media (max-width: 580px) {
  #review-order-container #your-info #info-row {
    padding: 15px 0;
  }
}
@media (max-width: 992px) {
  #review-order-container #your-info #info-row .info {
    padding: 15px;
  }
}
@media (max-width: 580px) {
  #review-order-container #your-info #info-row .info {
    padding: 0 15px;
  }
  #review-order-container #your-info #info-row .info:not(:last-child) {
    margin-bottom: 15px;
  }
}
#review-order-container #your-info #info-row .info .info-heading,
#review-order-container #your-info #info-row .info .info-edit {
  display: inline-block;
}
#review-order-container #your-info #info-row .info .info-heading {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
  margin: 0 20px 0 0;
}
@media (max-width: 992px) {
  #review-order-container #your-info #info-row .info .info-heading {
    font-size: 14px;
  }
}
#review-order-container #your-info #info-row .info .info-edit {
  font-size: 14px;
  text-decoration: underline;
}
@media (max-width: 992px) {
  #review-order-container #your-info #info-row .info .info-edit {
    font-size: 12px;
  }
}
#review-order-container #your-info #info-row .info .info-content {
  line-height: 1.2;
  margin-top: 8px;
}
@media (max-width: 580px) {
  #review-order-container #your-info #info-row .info .info-content {
    margin-top: 2px;
  }
}
#review-order-container #your-info #info-row .info .info-content p {
  text-transform: capitalize;
  font-size: 14px;
  margin: 0;
}
@media (max-width: 992px) {
  #review-order-container #your-info #info-row .info .info-content p {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  #review-order-container #your-orders .form-alert {
    margin-bottom: 10px;
  }
}
#review-order-container #your-orders .icon {
  position: relative;
  display: inline-block;
  height: 15px;
  width: 15px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
}
#review-order-container #your-orders .icon.expand.plus {
  background-image: url("../../images/checkout-forms/plus_expand.png");
}
#review-order-container #your-orders .icon.expand.minus {
  background-image: url("../../images/checkout-forms/minus_expand.png");
}
#review-order-container #your-orders .icon.info {
  background-image: url("../../images/checkout-forms/info.png");
}
#review-order-container #your-orders .table-container {
  border: 1px solid #A9A9AB;
}
#review-order-container #your-orders .table-container > table {
  margin: 0;
}
#review-order-container #your-orders .table-container > table > thead {
  background-color: #58595B;
  border-left: 15px solid #58595B;
  border-right: 15px solid #58595B;
}
#review-order-container #your-orders .table-container > table > thead > tr > th {
  background-color: #58595B;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  border: 1px solid #58595B;
  padding: 8px 10px;
}
@media (max-width: 992px) {
  #review-order-container #your-orders .table-container > table > thead > tr > th {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  #review-order-container #your-orders .table-container > table > thead > tr > th:not(:first-child) {
    display: none !important;
  }
}
#review-order-container #your-orders .table-container > table > thead > tr > th:first-child {
  width: 210px;
  padding-left: 0;
}
@media (max-width: 992px) {
  #review-order-container #your-orders .table-container > table > thead > tr > th:first-child {
    border-bottom: 0 !important;
  }
}
#review-order-container #your-orders .table-container > table > thead > tr > th:nth-child(2) {
  text-align: center;
}
#review-order-container #your-orders .table-container > table > thead > tr > th .info-container {
  position: relative;
  display: inline-block;
  margin: 0 0 0 10px;
}
#review-order-container #your-orders .table-container > table > thead > tr > th .info-container .info {
  top: -2px;
  z-index: 2;
}
#review-order-container #your-orders .table-container > table > thead > tr > th .info-container .info-popup {
  display: none;
  position: absolute;
  top: 41px;
  right: -21px;
  width: 290px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.85);
  padding: 10px 15px;
  z-index: 1;
}
#review-order-container #your-orders .table-container > table > thead > tr > th .info-container .info-popup .arrow-up {
  display: inline-block;
  position: absolute;
  top: -12px;
  right: 25px;
  height: 16px;
  width: 16px;
  background: url("../../images/thankyou-page/icons/popup_arrow-up.png") center center no-repeat;
  background-size: contain;
}
#review-order-container #your-orders .table-container > table > thead > tr > th .info-container .info-popup p {
  font-size: 14px;
  text-transform: none;
  color: #000000;
  margin: 0;
}
#review-order-container #your-orders .table-container > table > tbody {
  border-left: 15px solid #FFFFFF;
  border-right: 15px solid #FFFFFF;
}
#review-order-container #your-orders .table-container > table > tbody > tr:first-child td {
  border-top: 0 !important;
}
#review-order-container #your-orders .table-container > table > tbody > tr > td {
  font-size: 14px;
  border-top-color: #A9A9AB;
  padding: 18px 10px;
}
@media (max-width: 580px) {
  #review-order-container #your-orders .table-container > table > tbody > tr > td {
    display: block;
    width: 100%;
    padding: 15px 10px;
  }
}
#review-order-container #your-orders .table-container > table > tbody > tr > td:first-child {
  font-weight: bold;
  color: #1953a5;
  padding-left: 0;
}
@media (min-width: 580px) and (max-width: 992px) {
  #review-order-container #your-orders .table-container > table > tbody > tr > td:first-child {
    width: 70%;
  }
}
@media (max-width: 992px) {
  #review-order-container #your-orders .table-container > table > tbody > tr > td:first-child {
    border-bottom: 0 !important;
  }
}
@media (min-width: 580px) and (max-width: 767px) {
  #review-order-container #your-orders .table-container > table > tbody > tr > td:first-child {
    width: 61%;
  }
}
#review-order-container #your-orders .table-container > table > tbody > tr > td:nth-child(2) {
  text-align: center;
}
@media (max-width: 992px) {
  #review-order-container #your-orders .table-container > table > tbody > tr > td:not(:first-child):not(.mobile) {
    display: none !important;
  }
}
#review-order-container #your-orders .table-container > table > tbody > tr > td:nth-last-child(2) {
  text-align: right;
  padding-right: 15px;
}
#review-order-container #your-orders .table-container > table > tbody > tr > td p.product-name {
  display: inline-block;
  width: 80% !important;
  vertical-align: top;
  margin: 0 0 0 3px;
}
@media (max-width: 325px) {
  #review-order-container #your-orders .table-container > table > tbody > tr > td p.product-name {
    width: 80%;
  }
}
@media (min-width: 993px) {
  #review-order-container #your-orders .table-container > table > tbody > tr > td.mobile {
    display: none !important;
  }
}
@media (max-width: 992px) {
  #review-order-container #your-orders .table-container > table > tbody > tr > td.mobile {
    display: block !important;
    padding: 18px 0;
  }
}
@media (max-width: 580px) {
  #review-order-container #your-orders .table-container > table > tbody > tr > td.mobile {
    border-top: 0 !important;
    padding: 0 0 15px 0;
  }
}
#review-order-container #your-orders .table-container > table > tbody > tr > td.mobile table {
  width: 100%;
  margin: 0;
}
@media (min-width: 581px) and (max-width: 767px) {
  #review-order-container #your-orders .table-container > table > tbody > tr > td.mobile table {
    width: 98%;
    margin: 0 0 0 2%;
  }
}
@media (max-width: 580px) {
  #review-order-container #your-orders .table-container > table > tbody > tr > td.mobile table {
    line-height: 1.2;
  }
}
#review-order-container #your-orders .table-container > table > tbody > tr > td.mobile table tr td {
  display: table-cell !important;
  width: 50%;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
}
#review-order-container #your-orders .table-container > table > tbody > tr > td.mobile table tr td:last-child {
  text-align: right;
}
@media (max-width: 992px) {
  #review-order-container #your-orders .table-container > table > tbody > tr > td.mobile table tr td:last-child {
    padding-right: 4px;
  }
}
@media (max-width: 580px) {
  #review-order-container #your-orders .table-container > table > tbody > tr > td.mobile table tr td:last-child {
    padding-right: 6px;
  }
}
#review-order-container #your-orders .table-container > table > tbody > tr > td.mobile table tr.subtotal td {
  padding-top: 15px;
  font-size: 13px;
  text-transform: uppercase;
}
#review-order-container #your-orders .table-container > table > tbody > tr > td .expand {
  top: -1px;
}
#review-order-container #your-orders .table-container > table > tbody > tr > td .expanded {
  display: none;
  list-style: none;
  padding-left: 23px;
  margin-top: 6px;
  margin-bottom: 0;
}
#review-order-container #your-orders .table-container > table > tbody > tr > td .expanded li {
  font-size: 12px;
  font-weight: normal;
  color: #000000;
}
#review-order-container #order-summary {
  margin-bottom: 55px !important;
}
@media (max-width: 992px) {
  #review-order-container #order-summary {
    margin-top: 10px !important;
  }
}
@media (max-width: 580px) {
  #review-order-container #order-summary > div {
    width: 100%;
  }
}
#review-order-container #order-summary .left {
  padding: 40px 15px 40px 0;
}
@media (max-width: 992px) {
  #review-order-container #order-summary .left {
    padding: 5px 10px 0 0;
  }
}
@media (max-width: 580px) {
  #review-order-container #order-summary .left {
    display: none;
  }
}
@media (max-width: 992px) {
  #review-order-container #order-summary .left > div:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 992px) {
  #review-order-container #order-summary .left h3 {
    font-size: 14px;
    margin-bottom: 6px;
  }
}
#review-order-container #order-summary .left ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#review-order-container #order-summary .left ul li {
  font-size: 14px;
}
@media (max-width: 992px) {
  #review-order-container #order-summary .left ul li {
    font-size: 12px;
  }
}
#review-order-container #order-summary .left ul li .check {
  display: inline-block;
  position: relative;
  top: 2px;
  height: 12px;
  width: 12px;
  background: url("../../images/infield-images/greencheck.png") center center no-repeat;
  background-size: contain;
  margin-right: 5px;
}
#review-order-container #order-summary .left p {
  font-size: 14px;
  margin: 0;
}
#review-order-container #order-summary #summary {
  position: relative;
  background-color: #E7E7E7;
  padding: 15px 30px;
}
@media (min-width: 581px) and (max-width: 992px) {
  #review-order-container #order-summary #summary {
    padding: 15px 20px;
  }
}
@media (max-width: 580px) {
  #review-order-container #order-summary #summary {
    padding: 15px;
  }
}
#review-order-container #order-summary #summary table {
  width: 100%;
}
#review-order-container #order-summary #summary table tr td {
  width: 50%;
  font-weight: 14px;
  font-weight: bold;
}
@media (max-width: 992px) {
  #review-order-container #order-summary #summary table tr td {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  #review-order-container #order-summary #summary table tr td:first-child {
    width: 45%;
  }
}
#review-order-container #order-summary #summary table tr td:last-child {
  text-align: right;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  #review-order-container #order-summary #summary table tr td:last-child {
    width: 55%;
  }
}
#review-order-container #order-summary #summary table tr.total td {
  text-transform: uppercase;
  font-size: 17px;
  color: #1953a5;
  padding-top: 20px;
}
@media (max-width: 992px) {
  #review-order-container #order-summary #summary table tr.total td {
    font-size: 15px;
  }
}
#review-order-container #order-summary #summary #panel-bottom {
  position: absolute;
  top: 105%;
  left: 0;
  right: 0;
  width: 100%;
}
@media (max-width: 580px) {
  #review-order-container #order-summary #summary #panel-bottom {
    top: 109%;
  }
}
#review-order-container #order-summary #summary #panel-bottom > div {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}
#review-order-container #order-summary #summary #panel-bottom #place-order {
  width: 100%;
  background-color: #f29432;
  border: 1px solid #f29432;
  font-weight: bold;
  font-size: 17px;
  color: #FFFFFF;
  padding: 4px;
}
@media (max-width: 992px) {
  #review-order-container #order-summary #summary #panel-bottom #place-order {
    font-size: 15px;
    padding: 10px;
  }
}
#thank-you {
  padding: 0;
  /* 5 Columns */
}
@media (max-width: 768px) {
  #thank-you {
    width: 100%;
  }
}
@media (min-width: 769px) {
  #thank-you .panel-heading {
    display: none;
  }
}
@media (max-width: 768px) {
  #thank-you .panel-heading {
    padding: 20px 20px 10px 20px !important;
  }
}
#thank-you > div {
  padding: 0;
}
#thank-you .col-xs-15,
#thank-you .col-sm-15,
#thank-you .col-md-15,
#thank-you .col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
#thank-you .col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  #thank-you .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  #thank-you .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  #thank-you .col-lg-15 {
    width: 20%;
    float: left;
  }
}
#thank-you h4,
#thank-you p {
  color: #333333;
}
#thank-you h4 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 15px 0;
}
@media (max-width: 992px) {
  #thank-you h4 {
    font-size: 20px;
  }
}
@media (max-width: 580px) {
  #thank-you h4 {
    font-size: 18px;
  }
}
#thank-you p {
  font-size: 16px;
}
@media (max-width: 992px) {
  #thank-you p {
    font-size: 14px;
  }
}
@media (max-width: 580px) {
  #thank-you p {
    font-size: 12px;
  }
}
#thank-you a {
  font-size: 18px;
  color: #333333;
}
#thank-you #thank-you-banner {
  position: relative;
}
#thank-you #thank-you-banner .content {
  background-color: #E6E6E6;
  padding: 20px 25% 20px 25px;
}
@media (max-width: 736px) {
  #thank-you #thank-you-banner .content {
    width: 100% !important;
    padding: 20px 25px;
  }
}
@media (max-width: 580px) {
  #thank-you #thank-you-banner .content p {
    margin-bottom: 10px;
  }
}
#thank-you #thank-you-banner a {
  display: inline-block;
  text-transform: none !important;
}
#thank-you #thank-you-banner #print-page {
  margin-right: 100px;
}
@media (max-width: 992px) {
  #thank-you #thank-you-banner #print-page {
    margin-right: 30px;
  }
}
@media (max-width: 580px) {
  #thank-you #thank-you-banner #print-page {
    display: block;
    margin-right: 0;
  }
}
#thank-you #thank-you-banner #print-page > * {
  display: inline-block;
  vertical-align: middle;
}
#thank-you #thank-you-banner #print-page .print-icon {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background: url("../../images/print-black.png") center center no-repeat;
  background-size: contain;
}
#thank-you #thank-you-banner #print-page text {
  font-size: 16px;
}
@media (max-width: 992px) {
  #thank-you #thank-you-banner #print-page text {
    font-size: 14px;
  }
}
@media (max-width: 580px) {
  #thank-you #thank-you-banner #print-page text {
    font-size: 12px;
  }
}
#thank-you #thank-you-banner #continue-shopping {
  font-size: 16px;
  color: #FFFFFF;
  background-color: #1953a5;
  padding: 3px 15px;
}
@media (max-width: 992px) {
  #thank-you #thank-you-banner #continue-shopping {
    font-size: 14px;
  }
}
@media (max-width: 580px) {
  #thank-you #thank-you-banner #continue-shopping {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
#thank-you #thank-you-banner img {
  position: absolute;
  height: 120%;
  right: -20%;
  bottom: -26px;
}
@media (max-width: 1200px) {
  #thank-you #thank-you-banner img {
    height: auto;
    right: -10%;
  }
}
@media (min-width: 736px) and (max-width: 992px) {
  #thank-you #thank-you-banner img {
    height: 95%;
    bottom: -19px;
  }
}
@media (max-width: 736px) {
  #thank-you #thank-you-banner img {
    display: none !important;
  }
}
#thank-you #dont-wait {
  margin: 10px 0 0 0 !important;
}
@media (max-width: 768px) {
  #thank-you #dont-wait {
    padding: 0 15px;
  }
}
#thank-you #dont-wait .form-alert {
  margin-bottom: 15px;
}
@media (min-width: 769px) {
  #thank-you #dont-wait form {
    margin-left: 45px !important;
  }
}
@media (min-width: 581px) and (max-width: 768px) {
  #thank-you #dont-wait form {
    margin-left: 40px !important;
  }
}
@media (max-width: 580px) {
  #thank-you #dont-wait form {
    margin-left: 32px !important;
  }
}
#thank-you #dont-wait form .form-group {
  height: auto !important;
}
#thank-you #dont-wait form .form-group:last-child {
  margin-top: 10px !important;
}
#thank-you #dont-wait form .checkbox label {
  padding-left: 30px;
}
@media (max-width: 580px) {
  #thank-you #dont-wait form .checkbox label {
    font-size: 14px;
  }
}
#thank-you #dont-wait form .checkbox input[type="checkbox"] {
  border-radius: 0 !important;
  height: 15px;
  width: 15px;
  margin-top: 3px;
  margin-left: -30px;
}
#thank-you #dont-wait button,
#thank-you #dont-wait a {
  font-size: 14px;
}
#thank-you #dont-wait button.btn-proceed {
  display: inline-block;
  background-color: #f29432;
  border: 0;
  color: #FFFFFF;
  vertical-align: middle;
  padding: 1px 15px;
  margin: 0 15px 0 0;
}
@media (min-width: 769px) {
  #thank-you #dont-wait #pending-btn-container {
    margin: 10px 0 0 45px !important;
  }
}
@media (min-width: 581px) and (max-width: 768px) {
  #thank-you #dont-wait #pending-btn-container {
    margin: 10px 0 0 40px !important;
  }
}
@media (max-width: 580px) {
  #thank-you #dont-wait #pending-btn-container {
    margin: 10px 0 0 32px !important;
  }
}
#thank-you #dont-wait #no-thanks {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
#thank-you #dont-wait #no-thanks a,
#thank-you #dont-wait #no-thanks .info-icon {
  display: inline-block;
  vertical-align: middle;
}
#thank-you #dont-wait #no-thanks a {
  color: #1953a5;
}
#thank-you #dont-wait #no-thanks .info-icon {
  position: relative;
  height: 15px;
  width: 15px;
  background: url("../../images/thankyou-page/icons/info.png") center center no-repeat;
  background-size: contain;
  margin-left: 5px;
  cursor: pointer;
  z-index: 2;
}
#thank-you #dont-wait #no-thanks .info-popup {
  display: none;
  position: absolute;
  top: 30px;
  left: 56%;
  width: 300px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.85);
  padding: 10px 15px;
  z-index: 1;
}
@media (max-width: 580px) {
  #thank-you #dont-wait #no-thanks .info-popup {
    left: 0;
    width: 280px;
  }
}
@media (max-width: 440px) {
  #thank-you #dont-wait #no-thanks .info-popup {
    left: -107%;
    width: 290px;
  }
}
@media (max-width: 345px) {
  #thank-you #dont-wait #no-thanks .info-popup {
    left: auto;
    right: -61%;
    width: 285px;
  }
}
#thank-you #dont-wait #no-thanks .info-popup .arrow-up {
  display: inline-block;
  position: absolute;
  top: -12px;
  left: 25px;
  height: 16px;
  width: 16px;
  background: url("../../images/thankyou-page/icons/popup_arrow-up.png") center center no-repeat;
  background-size: contain;
}
@media (max-width: 580px) {
  #thank-you #dont-wait #no-thanks .info-popup .arrow-up {
    left: 78px;
  }
}
@media (max-width: 440px) {
  #thank-you #dont-wait #no-thanks .info-popup .arrow-up {
    left: auto;
    right: 93px;
  }
}
@media (max-width: 345px) {
  #thank-you #dont-wait #no-thanks .info-popup .arrow-up {
    right: 56px;
  }
}
#thank-you #dont-wait #no-thanks .info-popup p {
  font-size: 14px;
  margin: 0;
}
@media (max-width: 580px) {
  #thank-you #dont-wait #no-thanks .info-popup p {
    font-size: 12px;
  }
}
#thank-you #recommendations {
  margin: 40px 0 !important;
}
@media (max-width: 768px) {
  #thank-you #recommendations {
    padding: 0 15px;
  }
}
#thank-you #recommendations h4 {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
}
#thank-you #recommendations p {
  font-size: 16px;
  color: #000000;
  font-weight: bodl;
}
#thank-you #recommendations #recommended-slider .item {
  margin: 3px;
  text-align: center;
}
#thank-you #recommendations #recommended-slider .item a {
  display: block;
  font-size: 16px;
  text-align: center;
  color: #000 !important;
  margin-top: 10px;
}
#thank-you #recommendations #recommended-slider .item a img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}
@media (max-width: 785px) {
  #thank-you #recommendations #recommended-slider .item a img {
    width: auto;
  }
}
@media (max-width: 768px) {
  #thank-you #recommendations #recommended-slider .item a img {
    width: auto;
  }
}
