.gallery-wrapper.product-gallery-by-category {
  color: #4b4747;
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
  width: 1200px !important;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1340px) {
  .gallery-wrapper.product-gallery-by-category {
    margin-left: 0px;
    width: 100% !important;
  }
}
@media (max-width: 1240px) {
  .gallery-wrapper.product-gallery-by-category {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 1200px) {
  .gallery-wrapper.product-gallery-by-category {
    width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (max-height: 1024px) {
  .gallery-wrapper.product-gallery-by-category {
    min-height: 440px;
  }
}
.gallery-wrapper.product-gallery-by-category .pgbc-center {
  text-align: center;
}
.gallery-wrapper.product-gallery-by-category .description {
  margin-top: 10px;
}
.gallery-wrapper.product-gallery-by-category .categories {
  margin: 0 auto;
}
.gallery-wrapper.product-gallery-by-category .category-container {
  border: 1px solid #dddddd;
  display: inline-block;
  color: #5F5959;
  padding: 25px;
  text-align: center;
}
.gallery-wrapper.product-gallery-by-category .category-container:hover {
  box-shadow: 0px 0px 2px #bbb3b3;
  border: 1px solid #c2bfbf;
}
.gallery-wrapper.product-gallery-by-category .category-container .category-image {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}
.gallery-wrapper.product-gallery-by-category .category-container .category-name {
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold;
  color: #323232;
}
.gallery-wrapper.product-gallery-by-category .category-container .category-description {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .gallery-wrapper.product-gallery-by-category .category-container {
    padding: 10px;
  }
  .gallery-wrapper.product-gallery-by-category .category-container .category-name {
    font-size: 20px;
    word-wrap: break-word;
  }
}
.gallery-wrapper.product-gallery-by-plan .hover-state-list .info-btn a {
  padding: 12px 0px;
}
.gallery-wrapper.product-gallery-by-plan .hover-state-list .info-btn a:active,
.gallery-wrapper.product-gallery-by-plan .hover-state-list .info-btn a.active {
  outline: none!important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline-color: transparent!important;
  outline-style: none!important;
  background-image: none;
}
.gallery-wrapper.product-gallery-by-plan #products {
  margin-bottom: 80px!important;
}
.gallery-wrapper .product-container {
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1340px) {
  .gallery-wrapper .product-container {
    margin-left: 0px;
    padding-left: 45px;
    padding-right: 45px;
    width: 100% !important;
  }
}
@media (max-width: 1200px) {
  .gallery-wrapper .product-container {
    width: 100% !important;
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 991px) {
  .gallery-wrapper .product-container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 797px) {
  .gallery-wrapper .product-container .row {
    margin: 0px;
  }
}
@media (min-width: 798px) and (max-width: 991px) {
  .gallery-wrapper .product-container .row {
    margin: 0px;
  }
}
.gallery-wrapper .main-product {
  padding-top: 37px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 30px;
  height: auto;
  clear: both;
}
.gallery-wrapper .main-product .image {
  max-height: 350px;
  max-width: 350px;
  height: 350px;
  width: 350px;
}
@media (max-width: 1280px) {
  .gallery-wrapper .main-product .image {
    max-width: 100% !important;
    width: 100% !important;
  }
}
.gallery-wrapper .main-product .content {
  height: 350px;
  max-height: 350px;
}
.gallery-wrapper .main-product .title {
  height: auto;
  max-height: 154px;
  line-height: 40px;
  overflow: hidden;
}
@media (max-width: 1031px) {
  .gallery-wrapper .main-product .title span {
    font-size: 47px;
  }
}
@media (max-width: 900px) {
  .gallery-wrapper .main-product .title span {
    font-size: 44px;
    word-wrap: break-word;
  }
}
.gallery-wrapper .main-product .description {
  height: auto;
  max-height: 135px;
  overflow: hidden;
}
.gallery-wrapper .main-product .cta-btn {
  margin-top: 15px;
}
.gallery-wrapper .hero-product {
  padding-top: 37px;
  padding-bottom: 30px;
  height: auto;
  border-left: 1px solid #d2d2d2;
}
.gallery-wrapper .hero-product .hero-image img {
  max-height: 250px;
  max-width: 165px;
}
.gallery-wrapper .hero-product .hero-content {
  padding-top: 15px;
}
.gallery-wrapper .hero-product .hero-content .hero-content-small-font {
  font-size: 21px;
}
.gallery-wrapper .hero-product .hero-content .hero-paragraph-small {
  font-size: 13px;
}
@media (max-width: 1024px) {
  .gallery-wrapper .hero-product .hero-content span {
    font-size: 17px;
  }
  .gallery-wrapper .hero-product .hero-content .hero-content-small-font {
    font-size: 15px;
  }
  .gallery-wrapper .hero-product .hero-content p {
    font-size: 11px;
  }
}
.gallery-wrapper .sub-menu-tabs {
  background-color: #f5f5f5;
  text-align: center;
  height: auto;
  border-top: 1px solid #d2d2d2;
}
.gallery-wrapper .sub-menu-tabs .slick-container {
  padding-left: 105px;
  padding-right: 105px;
  margin: 0 auto;
  /*@media(max-width: 768px) {
				max-width: 95%;
			}

			@media(max-width: 1024px) {
				max-width: 93%;
			}*/
}
@media (max-width: 1340px) {
  .gallery-wrapper .sub-menu-tabs .slick-container {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (max-width: 1200px) {
  .gallery-wrapper .sub-menu-tabs .slick-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  .gallery-wrapper .sub-menu-tabs .slick-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.gallery-wrapper .sub-menu-tabs .slick-container .navbar-collapse {
  overflow: visible;
}
.gallery-wrapper .sub-menu-tabs .selectedTab {
  color: #1953A5 !important;
}
.gallery-wrapper .sub-menu-tabs a {
  z-index: 99;
  text-decoration: none;
  outline: none;
  display: inline;
  padding-bottom: 0px;
  display: inline-block;
  margin-left: 0px;
  color: #333;
}
.gallery-wrapper .sub-menu-tabs a:hover {
  color: #1953A5;
}
.gallery-wrapper .sub-menu-tabs .slick-prev:before,
.gallery-wrapper .sub-menu-tabs .slick-next:before {
  color: #333;
}
.gallery-wrapper .sub-menu-tabs .slick-slider {
  margin-bottom: 0px;
}
@media (max-width: 1423px) {
  .gallery-wrapper .sub-menu-tabs .slick-slider {
    padding-left: 10px;
  }
}
@media (max-width: 1355px) {
  .gallery-wrapper .sub-menu-tabs .slick-slider {
    padding-left: 0px;
  }
}
@media (max-width: 1250px) {
  .gallery-wrapper .sub-menu-tabs .slick-slider {
    padding-left: 5px;
  }
}
.gallery-wrapper .sub-menu-tabs .slick-slide {
  padding-top: 19px;
  padding-bottom: 19px;
}
.gallery-wrapper .sub-menu-tabs .active {
  border-bottom: 5px solid #1953A5;
}
.gallery-wrapper .menu-filters {
  height: 118px;
  border-bottom: 1px solid #d2d2d2;
  colors: #ddd;
  padding-top: 40px;
  padding-left: 0px;
  padding-right: 0px;
}
.gallery-wrapper .menu-filters .container,
.gallery-wrapper .menu-filters .col-sm-4 {
  padding: 0px;
}
.gallery-wrapper .menu-filters .container {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1340px) {
  .gallery-wrapper .menu-filters .container {
    width: 100%!important;
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (max-width: 1200px) {
  .gallery-wrapper .menu-filters .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 966px) {
  .gallery-wrapper .menu-filters .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.gallery-wrapper .menu-filters .row {
  margin-right: 0px;
  margin-left: 0px;
}
@media (max-width: 1094px) {
  .gallery-wrapper .menu-filters .row {
    margin-right: 0px;
  }
}
.gallery-wrapper .menu-section {
  width: 100%;
}
.gallery-wrapper .left-filters {
  margin-left: -8px;
}
@media (max-width: 1024px) {
  .gallery-wrapper .left-filters {
    padding-left: 0;
  }
}
.gallery-wrapper .left-filters,
.gallery-wrapper .center-filter,
.gallery-wrapper .right-filter {
  min-width: 370px;
  max-width: 400px;
}
@media (max-width: 1340px) {
  .gallery-wrapper .left-filters,
  .gallery-wrapper .center-filter,
  .gallery-wrapper .right-filter {
    min-width: 100%;
  }
}
.gallery-wrapper #brands-btn,
.gallery-wrapper #filters-btn {
  color: #1769b3;
  margin: 8px;
}
@media (max-width: 991px) {
  .gallery-wrapper #brands-btn,
  .gallery-wrapper #filters-btn {
    font-size: 18px;
  }
}
.gallery-wrapper #filter-free_with_plan,
.gallery-wrapper #filter-show_all {
  color: #333;
  margin-left: 15px;
  margin-right: 15px;
}
.gallery-wrapper .center-filter a {
  color: #333;
}
@media (max-width: 991px) {
  .gallery-wrapper .center-filter a {
    font-size: 18px;
  }
}
.gallery-wrapper .center-filter .active {
  color: #1769b3 !important;
  border-bottom: 5px solid #1769b5;
}
.gallery-wrapper .right-filter {
  width: 100%;
  height: 34px;
  padding-right: 2px;
}
@media (max-width: 1024px) {
  .gallery-wrapper .right-filter {
    padding-right: 0;
    margin-top: 1px;
    width: 100%;
  }
  .gallery-wrapper .right-filter a {
    font-size: 18px;
  }
}
.gallery-wrapper .compare-filter {
  display: inline-block;
  width: auto;
  margin-right: 25px;
  vertical-align: top;
}
.gallery-wrapper .compare-filter a {
  color: #1953a5;
}
@media (max-width: 1024px) {
  .gallery-wrapper .compare-filter {
    margin-right: 8px;
  }
}
@media (max-width: 966px) {
  .gallery-wrapper .compare-filter {
    margin-right: 0px;
  }
}
.gallery-wrapper .compare-filter .badge {
  vertical-align: middle;
  height: 26px;
  width: 26px;
  background-color: #1953a5;
  padding-top: 6px;
  font-size: 16px;
  border-radius: 19px;
  padding-left: 5px;
  padding-top: 5px;
  margin-top: -4px !important;
}
@media (max-width: 991px) {
  .gallery-wrapper .compare-filter .badge {
    padding-top: 5px;
  }
}
.gallery-wrapper .compare-filter .product-gallery-compare-button-disabled {
  color: #ccc;
}
.gallery-wrapper .compare-filter .product-gallery-compare-button-disabled .badge {
  background-color: #ccc;
}
.gallery-wrapper .compare-filter .product-gallery-compare-button-disabled .icon-compare {
  background-image: url('../../images/icons/icon-compare-gray.png');
}
.gallery-wrapper .compare-filter .icon-compare {
  vertical-align: text-bottom;
}
@media (max-width: 991px) {
  .gallery-wrapper .compare-filter {
    margin-left: -40px;
    margin-top: -5px;
  }
  .gallery-wrapper .compare-filter .icon-compare {
    vertical-align: -8px;
  }
  .gallery-wrapper .compare-filter .views-button {
    margin-top: 10px;
  }
}
.gallery-wrapper .views-button {
  display: inline-block;
  width: 29px;
  height: 29px;
  margin-top: 0px;
}
.gallery-wrapper .views-button .icon-list {
  margin-top: 3px;
}
.gallery-wrapper .views-button a {
  position: absolute;
}
@media (max-width: 1020px) {
  .gallery-wrapper .views-button {
    display: none;
  }
}
.gallery-wrapper .menu-dropdown {
  z-index: 100;
  background-color: #f5f5f5;
  position: relative;
  width: 100%;
  padding: 0px;
}
.gallery-wrapper .menu-dropdown .filter-parent {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1340px) {
  .gallery-wrapper .menu-dropdown .filter-parent {
    width: 100%!important;
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (max-width: 1200px) {
  .gallery-wrapper .menu-dropdown .filter-parent {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 966px) {
  .gallery-wrapper .menu-dropdown .filter-parent {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.gallery-wrapper #brand-selection {
  margin-top: 25px;
  margin-bottom: 25px;
  /*please replace this with a class in the future*/
}
.gallery-wrapper #brand-selection .btn-filter {
  background-color: #DDDDDD;
  margin-bottom: 6px;
}
.gallery-wrapper #brand-selection .btn-filter-all {
  background-color: #DDDDDD;
}
.gallery-wrapper #brand-selection .btn-success {
  background-color: #5cb85c;
  vertical-align: top;
  margin-bottom: 6px;
}
.gallery-wrapper #brand-selection .col-xs-3.col2 {
  text-align: right;
  padding-right: 15px;
}
.gallery-wrapper #filter-selection {
  margin-top: 25px;
  margin-bottom: 40px;
}
.gallery-wrapper #filter-selection .filter-dropdown {
  width: auto;
  float: left;
  margin-top: 10px;
  padding-right: 20px;
  min-width: 140px;
}
.gallery-wrapper #filter-selection .filter-dropdown .left-btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: none;
  background-color: #fff;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  border-left: 1px solid #cecece;
}
.gallery-wrapper #filter-selection .filter-dropdown right-btn:hover,
.gallery-wrapper #filter-selection .filter-dropdown .left-btn:hover {
  border-right: 1px solid transparent;
}
.gallery-wrapper #filter-selection .filter-dropdown .right-btn {
  border-left: none;
  box-shadow: none;
  background-color: #fff;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.gallery-wrapper #filter-selection .filter-dropdown .dropdown-menu {
  width: auto;
}
.gallery-wrapper #filter-selection .filter-dropdown .dropdown-menu input[type=radio],
.gallery-wrapper #filter-selection .filter-dropdown .dropdown-menu input[type=checkbox] {
  margin: 4px 8px 0 8px;
}
.gallery-wrapper #filter-selection .filter-dropdown .dropdown-menu input[type=checkbox] {
  vertical-align: top;
}
.gallery-wrapper #filter-selection .filter-dropdown .dropdown-menu a[href^=tel] {
  color: inherit;
  text-decoration: none;
}
.gallery-wrapper #filter-selection .filter-dropdown .dropdown-menu li label {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  width: 80%;
  color: #333333;
}
@media (max-width: 1024px) {
  .gallery-wrapper #filter-selection .filter-dropdown .dropdown-menu li label {
    width: 75%;
  }
}
@media (max-width: 320px) {
  .gallery-wrapper #filter-selection .filter-dropdown .dropdown-menu li .MPcontPX {
    display: inline-block;
    width: 30px;
    vertical-align: top;
  }
  .gallery-wrapper #filter-selection .filter-dropdown .dropdown-menu li .MPcont {
    display: inline-block;
    width: 75%;
  }
}
.gallery-wrapper .color-filter {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
@media (max-width: 1200px) {
  .gallery-wrapper .color-filter {
    width: 100%;
    margin-left: 0px;
  }
}
.gallery-wrapper .color-filter .dropdown-title {
  font-size: 14px;
  font-weight: bold;
}
.gallery-wrapper .color-filter ul {
  left: auto;
}
.gallery-wrapper .color-filter ul li {
  display: inline-block;
  margin-bottom: 5px;
}
.gallery-wrapper .color-filter .btn-filter {
  background-color: #ddd;
  margin-bottom: 3px;
}
.gallery-wrapper .capacity-filter {
  float: left;
}
.gallery-wrapper .masonry-gallery {
  padding-top: 38px;
  min-height: 575px;
  padding-left: 45px;
  padding-right: 30px;
}
@media (max-width: 1340px) {
  .gallery-wrapper .masonry-gallery {
    width: 100%;
  }
}
.gallery-wrapper .masonry-gallery #products {
  margin-bottom: 40px;
}
.gallery-wrapper .masonry-gallery .gallery-preloader {
  padding: 10px;
  text-align: center;
  min-height: 100px;
}
.gallery-wrapper .masonry-gallery .group-item {
  margin: 5px 10px 5px 10px;
  position: relative;
  display: block;
  width: auto;
}
.gallery-wrapper .masonry-gallery .grid-view {
  min-height: 350px;
  height: 100%;
  width: 350px;
  background-color: #fff;
  border: 1px solid #eee;
  overflow: hidden;
}
@media (max-width: 991px) {
  .gallery-wrapper .masonry-gallery .grid-view {
    max-width: 300px !important;
    width: 300px !important;
  }
}
.gallery-wrapper .masonry-gallery .grid-view .badge-holder {
  position: absolute;
  top: 0;
}
.gallery-wrapper .masonry-gallery .grid-view .badge-holder .badge-thumb {
  margin: 8px;
}
.gallery-wrapper .masonry-gallery .grid-view .grid-group-image {
  min-height: 198px;
  width: auto;
  height: auto;
  margin-top: 32px;
  margin-bottom: 39px;
  padding-left: 50px;
  padding-right: 50px;
}
@media (max-width: 991px) {
  .gallery-wrapper .masonry-gallery .grid-view .grid-group-image {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.gallery-wrapper .masonry-gallery .grid-view .caption {
  color: #1953a5;
  background-color: #fafafa;
  height: 100%;
  min-height: 100px;
  overflow: hidden;
  padding: 15px;
  bottom: 1px;
  width: 99.4%;
  text-align: center;
}
.gallery-wrapper .masonry-gallery .grid-view .caption .list-group-item-text {
  max-height: 72px;
  overflow: hidden;
}
.gallery-wrapper .masonry-gallery .grid-view .caption a {
  color: #1953a5;
}
.gallery-wrapper .masonry-gallery .grid-view .caption-small {
  font-size: 18px;
}
.gallery-wrapper .masonry-gallery .hover-state-grid {
  width: 350px;
  height: auto;
  min-height: 370px;
  position: absolute;
  margin-bottom: 20px;
  border: 1px solid #eee;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 991px) {
  .gallery-wrapper .masonry-gallery .hover-state-grid {
    max-width: 300px !important;
    width: 300px !important;
  }
}
.gallery-wrapper .masonry-gallery .hover-state-grid .compare-btn {
  position: absolute;
  top: 0;
  margin-left: 15px;
  margin-top: 15px;
  cursor: pointer;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .moreinfo-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 15px;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .overlay-content {
  position: absolute;
  margin-top: 13%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: auto;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .overlay-content p {
  color: #333;
  margin-bottom: 10px;
  line-height: 1!important;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .overlay-content a {
  color: #333333;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .overlay-content a:hover {
  color: #254485;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .star-rate-holder {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 7px;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .short-info {
  display: block;
  height: auto;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .selected-attr {
  margin-top: 14px;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .selected-attr a {
  color: #333;
  font-weight: bold;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .attr-holder {
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .attr-holder:last-child {
  background-color: #eee;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .btn-addcart {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .btn-wishlist {
  width: 100%;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .slickplan {
  margin-top: -7px;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .slickplan button {
  background-color: transparent;
  color: #333;
  height: 27px;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .slickplan .slick-list {
  padding: 0px !important;
  overflow: hidden;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .slickplan .slick-slide {
  text-align: center;
  width: 100%;
  height: 35px;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .slickplan .color-holder {
  display: inline-block;
  position: relative;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .slickplan .color-holder .plan-option {
  left: 0px;
  margin: 0px!important;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .slickplan .btn-success {
  background-color: #7ebe36;
  color: #fff;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 26px;
}
.gallery-wrapper .masonry-gallery .hover-state-grid-dc {
  border: 1px solid #1769b3;
  background-color: transparen;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.gallery-wrapper .masonry-gallery .whenAdded {
  display: none;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #4EA33B;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #fff;
  border: 1px solid #eee;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .gallery-wrapper .masonry-gallery .whenAdded {
    padding-top: 65px;
  }
}
.gallery-wrapper .masonry-gallery .whenNoStock {
  display: none;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #a94442;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #fff;
  border: 1px solid #eee;
}
.gallery-wrapper .masonry-gallery .thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding-top: 40px;
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-bottom: 20px;
  border: 1px solid #eee;
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay .addtowishlist-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 13px;
  margin-bottom: 18px;
  color: #fff;
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay .addtocart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 13px;
  margin-bottom: 18px;
  color: #fff;
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay .mod-attr-holder {
  position: absolute;
  padding-left: 1px;
  padding-right: 1px;
  width: 350px;
  color: #fff;
  float: left;
  margin-top: 65%;
}
@media (max-width: 991px) {
  .gallery-wrapper .masonry-gallery .thumbnail-overlay .mod-attr-holder {
    max-width: 300px !important;
    width: 300px !important;
  }
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay .mod-attr-holder .vert-center {
  margin-top: auto;
  margin-bottom: auto;
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay .mod-attr-holder .slick-plan-holder {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay .mod-attr-holder .slick-plan-holder button {
  background-color: transparent;
  color: #000;
  font-weight: bold;
  box-shadow: none !important;
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay .mod-attr-holder .slick-plan-holder .active {
  background-color: #7ebe36;
  margin: 2px;
  color: #fff;
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay .mod-attr-holder .slick-storage-holder {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay .mod-attr-holder .slick-storage-holder button {
  background-color: transparent;
  color: #000;
  font-weight: bold;
  box-shadow: none !important;
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay .mod-attr-holder .slick-storage-holder .active {
  background-color: #7ebe36;
  margin: 2px;
  color: #fff;
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay .mod-attr-holder .slick-color-holder {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay .mod-attr-holder .slick-color-holder button {
  background-color: transparent;
  color: #000;
  font-weight: bold;
  box-shadow: none !important;
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay .mod-attr-holder .slick-color-holder .active {
  background-color: transparent;
  margin: 2px;
  color: #fff;
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay .mod-attr-holder .slick-prev:before,
.gallery-wrapper .masonry-gallery .thumbnail-overlay .mod-attr-holder .slick-next:before {
  color: #000 !important;
}
.gallery-wrapper .masonry-gallery .thumbnail-overlay .faded-background {
  width: auto;
  height: 95%;
  background-color: #fff;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .overlay-content {
  position: relative;
  width: 350px;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  float: left;
}
@media (max-width: 991px) {
  .gallery-wrapper .masonry-gallery .hover-state-grid .overlay-content {
    max-width: 300px !important;
    width: 300px !important;
  }
}
.gallery-wrapper .masonry-gallery .hover-state-grid .overlay-content p.text-center {
  line-height: 1.3;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder {
  position: relative;
  padding-left: 1px;
  padding-right: 1px;
  width: 350px;
  color: #fff;
  float: left;
}
@media (max-width: 991px) {
  .gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder {
    max-width: 300px !important;
    width: 300px !important;
  }
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .installation-success-notif {
  color: #4ea43b;
  margin-bottom: 0px;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .installation-change-location {
  color: #1769b3;
  margin: 10px 0 10px 0;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .installation-change-location a {
  text-decoration: underline;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .attr-holder {
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  border-top: 1px solid #eee;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .attr-holder:last-child {
  border-bottom: 1px solid #fff;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .vert-center {
  margin-top: auto;
  margin-bottom: auto;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .slick-plan-holder {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .slick-plan-holder button {
  background-color: transparent;
  color: #000;
  font-weight: bold;
  box-shadow: none !important;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .slick-plan-holder .active {
  background-color: #7ebe36;
  margin: 2px;
  color: #fff;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .slick-storage-holder {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .slick-storage-holder button {
  background-color: transparent;
  color: #000;
  font-weight: bold;
  box-shadow: none !important;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .slick-storage-holder .active {
  background-color: #7ebe36;
  margin: 2px;
  color: #fff;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .slick-color-holder {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .slick-color-holder button {
  background-color: transparent;
  color: #000;
  font-weight: bold;
  box-shadow: none !important;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .slick-color-holder .active {
  background-color: transparent;
  margin: 2px;
  color: #fff;
}
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .slick-prev:before,
.gallery-wrapper .masonry-gallery .hover-state-grid .mod-attr-holder .slick-next:before {
  color: #000 !important;
}
.gallery-wrapper .masonry-gallery .list-group-item {
  float: none;
  width: 95%;
  background-color: #fff;
  margin-bottom: 10px;
  border: none;
  padding: 0px;
}
.gallery-wrapper .masonry-gallery .list-group-item .list-group-image {
  margin: 24px 28px 24px 28px;
}
.gallery-wrapper .masonry-gallery .list-group-item .thumbnail {
  margin-bottom: 0px;
  border-radius: 0px;
}
.gallery-wrapper .masonry-gallery .list-group-item .caption {
  padding: 9px 9px 0px 9px;
  height: 200px;
  max-height: 200px;
}
.gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder {
  position: absolute;
  padding-left: 1px;
  padding-right: 1px;
  width: 350px;
  color: #fff;
  float: left;
}
@media (max-width: 991px) {
  .gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder {
    max-width: 300px !important;
    width: 300px !important;
  }
}
.gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder .attr-holder {
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  border-top: 1px solid #eee;
}
.gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder .attr-holder:last-child {
  border-bottom: 1px solid #fff;
}
.gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder .vert-center {
  margin-top: auto;
  margin-bottom: auto;
}
.gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder .slick-plan-holder {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder .slick-plan-holder button {
  background-color: transparent;
  color: #000;
  font-weight: bold;
  box-shadow: none !important;
}
.gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder .slick-plan-holder .active {
  background-color: #7ebe36;
  margin: 2px;
  color: #fff;
}
.gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder .slick-storage-holder {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder .slick-storage-holder button {
  background-color: transparent;
  color: #000;
  font-weight: bold;
  box-shadow: none !important;
}
.gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder .slick-storage-holder .active {
  background-color: #7ebe36;
  margin: 2px;
  color: #fff;
}
.gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder .slick-color-holder {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder .slick-color-holder button {
  background-color: transparent;
  color: #000;
  font-weight: bold;
  box-shadow: none !important;
}
.gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder .slick-color-holder .active {
  background-color: transparent;
  margin: 2px;
  color: #fff;
}
.gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder .slick-prev:before,
.gallery-wrapper .masonry-gallery .list-group-item .mod-attr-holder .slick-next:before {
  color: #000 !important;
}
.gallery-wrapper .item.list-group-item:before,
.gallery-wrapper .item.list-group-item:after {
  display: table;
  content: " ";
}
.gallery-wrapper .item.list-group-item img {
  float: left;
  max-width: 200px;
  max-height: 150px;
}
.gallery-wrapper .item.list-group-item:after {
  clear: both;
}
.btn-clear {
  background-color: transparent;
  border: 0;
  color: #1769b3;
  font-size: 24px !important;
  font-weight: bold;
}
.absolute-center {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.rwd-mainProducts {
  padding-bottom: 20px;
}
.rwd-mainProducts .image {
  padding-top: 15px;
}
.rwd-mainProducts .image img {
  max-width: 80% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rwd-mainProducts .title {
  text-align: center;
}
.rwd-mainProducts .title span {
  font-size: 28px;
}
.rwd-mainProducts .description {
  text-align: center;
}
.rwd-mainProducts .description p {
  font-size: 16px;
}
.rwd-mainProducts .cta-btn {
  text-align: center;
}
.rwd-hero-product {
  border-top: 1px solid #D2D2D2;
}
.rwd-hero-product .hero-product {
  padding: 20px 0;
}
.rwd-hero-product .hero-product img {
  max-width: 100%;
  padding: 10px;
}
@media (max-width: 320px) {
  .rwd-hero-product .hero-product img {
    max-width: 70%;
  }
}
.rwd-menu-tabs {
  background-color: #f5f5f5;
}
.rwd-menu-tabs .sub-menu-tabs {
  height: auto;
  text-align: center;
  width: 100%;
}
.rwd-menu-tabs .sub-menu-tabs a {
  z-index: 99;
  max-width: 90%;
}
.rwd-menu-tabs .sub-menu-tabs .slick-prev:before,
.rwd-menu-tabs .sub-menu-tabs .slick-next:before {
  color: #333;
}
.rwd-menu-tabs .sub-menu-tabs .slick-list {
  overflow: hidden;
}
.rwd-menu-tabs .sub-menu-tabs .active {
  border-bottom: 5px solid #1953a5;
}
.rwd-menu-tabs .htabs a {
  outline: none;
  margin-left: 0px;
  text-decoration: none;
  display: block !important;
  padding-bottom: 0px;
}
.rwd-menu-tabs .slick-prev {
  left: 0px;
  margin-top: -10px;
}
.rwd-menu-tabs .slick-next {
  right: 0px;
  margin-top: -10px;
}
.rwd-menu-tabs .slick-slider {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
}
@media (max-width: 640px) {
  .rwd-menu-tabs .slick-slider {
    margin-bottom: 0;
    margin-top: 0;
  }
}
.rwd-menu-filters {
  margin: 0px;
}
.rwd-menu-filters a {
  font-size: 23px;
  padding: 0px 4px;
}
.rwd-menu-filters .col-sm-4 {
  border-bottom: 1px solid #D2D2D2;
  text-align: center;
}
.rwd-menu-filters .center-filter {
  margin-left: -5px;
}
.rwd-menu-filters .compare-filter {
  display: inline-block;
  vertical-align: top;
  margin: 3px;
}
.rwd-menu-filters .compare-filter .product-gallery-compare-button-disabled {
  color: #ccc;
}
.rwd-menu-filters .compare-filter .product-gallery-compare-button-disabled .badge {
  background-color: #ccc;
}
.rwd-menu-filters .compare-filter .product-gallery-compare-button-disabled .icon-compare {
  background-image: url('../../images/icons/icon-compare-gray.png');
}
.rwd-menu-filters .right-filter {
  padding-bottom: 5px;
}
.rwd-menu-filters .views-button {
  display: inline-block;
  margin-top: 2px;
}
.rwd-menu-filters .views-button {
  display: none;
}
.rwd-menu-filters .badge {
  vertical-align: 2px;
}
.rwd-menu-filters .menu-filters {
  padding-left: 0px;
  padding-right: 0px;
}
.rwd-menu-filters .menu-filters-plan a {
  display: block;
}
.rwd-menu-filters .menu-filters-plan a.active {
  margin-bottom: 7px;
}
.rwd-menu-filters .menu-filters-plan a.active span {
  color: #1769b3 !important;
  border-bottom: 5px solid #1769b5;
}
.rwd-menu-dropdown {
  background-color: #F5F5F5;
}
.rwd-menu-dropdown .container-fluid {
  padding: 0px;
}
.rwd-menu-dropdown .menu-dropdown {
  margin-left: 0px;
  margin-right: 0px;
}
.rwd-menu-dropdown .col-xs-9 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.rwd-menu-dropdown .col-xs-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.rwd-menu-dropdown .filter-parent {
  padding-left: 30px;
  padding-right: 30px;
}
.rwd-menu-dropdown #filter-selection {
  padding: 15px 0px;
}
.rwd-menu-dropdown #filter-selection .filter-dropdown {
  min-width: 150px;
}
@media (max-width: 350px) {
  .rwd-menu-dropdown #filter-selection .filter-dropdown {
    min-width: 120px;
  }
}
@media (max-width: 320px) {
  .rwd-menu-dropdown #filter-selection .filter-dropdown {
    min-width: 140px;
  }
}
.rwd-menu-dropdown #filter-selection .filter-dropdown button.left-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.rwd-menu-dropdown #filter-selection .dropdown-menu {
  width: auto;
}
.rwd-menu-dropdown #filter-selection .dropdown-menu input[type=radio],
.rwd-menu-dropdown #filter-selection .dropdown-menu input[type=checkbox] {
  margin: 0px 8px 0 8px;
  vertical-align: middle;
}
.rwd-menu-dropdown #filter-selection .dropdown-menu label [href^=tel]:link {
  color: #333333;
}
.rwd-menu-dropdown #filter-selection .list-unstyled li {
  display: inline-block;
}
.rwd-menu-dropdown #filter-selection .non-inventory-filter label {
  width: 75%;
  vertical-align: top;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.rwd-menu-dropdown #filter-selection .non-inventory-filter label [href^=tel]:link {
  color: #333333;
}
.rwd-menu-dropdown #brand-selection .btn-filter {
  background-color: #DDDDDD;
  margin-bottom: 8px;
  margin-top: 5px;
}
.rwd-menu-dropdown #brand-selection .btn-filter-all {
  background-color: #DDDDDD;
  margin-top: 5px;
}
.rwd-menu-dropdown #brand-selection .btn-success {
  background-color: #5cb85c;
  margin-bottom: 8px;
  margin-top: 5px;
}
.rwd-menu-dropdown .filter_val .buttons-group button {
  background-color: #DDDDDD;
  margin-bottom: 3px;
}
.rwd-menu-dropdown .btn-success {
  color: #fff;
  background-color: #5cb85c!important;
  border-color: #4cae4c;
}
.rwd-menu-dropdown .color-filter .list-unstyled li {
  margin-bottom: 5px;
}
.rwd-masonry-gallery .rwd-item {
  border: 1px solid #D2D2D2;
  color: #1769B3;
  cursor: pointer;
  margin: 10px 15px;
  padding: 10px;
}
.rwd-masonry-gallery .rwd-item .badge-thumb {
  display: inline-block;
  width: 30%;
  margin: 2px;
}
.rwd-masonry-gallery .rwd-item .list-group-item-heading {
  text-align: center;
  color: #1953a5;
}
.rwd-masonry-gallery .rwd-item .list-group-item-heading a {
  color: #1953a5;
}
.rwd-masonry-gallery .rwd-item .list-group-item-text {
  text-align: center;
}
.rwd-masonry-gallery .rwd-item .icon {
  margin-top: 10px;
  text-align: right;
}
.rwd-masonry-gallery .rwd-item .normal .grid-group-image {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
.rwd-masonry-gallery .rwd-item .hover {
  display: none;
}
.rwd-masonry-gallery .rwd-item .hover .hover-grid-header {
  margin-bottom: 5px;
  overflow: hidden;
}
.rwd-masonry-gallery .rwd-item .hover .overlay-content a {
  color: #333333;
}
.rwd-masonry-gallery .rwd-item .hover .overlay-content a:hover {
  color: #254485;
}
.rwd-masonry-gallery .rwd-item .hover .mod-attr-holder .installation-success-notif {
  color: #4ea43b;
  margin-bottom: 0px;
}
.rwd-masonry-gallery .rwd-item .hover .slick-prev:before,
.rwd-masonry-gallery .rwd-item .hover .slick-next:before {
  color: #000 !important;
}
.rwd-masonry-gallery .rwd-item .hover .slick-slider {
  margin: 0px;
}
.rwd-masonry-gallery .rwd-item .hover .slick-track {
  min-width: 100% !important;
  text-align: center;
}
.rwd-masonry-gallery .rwd-item .hover .slick-track .slick-slide {
  display: inline-block !important;
  float: none !important;
  min-width: 40px !important;
  margin: 0 20px;
  text-align: center;
}
.rwd-masonry-gallery .rwd-item .hover .color-holder {
  display: inline-block;
  position: relative;
}
.rwd-masonry-gallery .rwd-item .hover .color-holder .plan-option {
  left: 0px;
  margin: 0px!important;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rwd-masonry-gallery .rwd-item .hover .attr-holder {
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  margin: 0 -10px;
  padding: 10px 15px;
}
.rwd-masonry-gallery .rwd-item .hover .attr-holder a {
  color: #333333;
  font-weight: bold;
}
.rwd-masonry-gallery .rwd-item .hover .attr-holder a:hover {
  color: #333333;
}
.rwd-masonry-gallery .rwd-item .hover .button-cart {
  display: block;
  margin: 15px auto;
  text-align: center;
}
.rwd-masonry-gallery .rwd-item .hover .btn-wishlist {
  display: block;
  margin: 5px auto;
}
.rwd-masonry-gallery .rwd-item .hover .plan-option {
  background-color: transparent;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-rendering: optimizeLegibility;
}
@media screen and (orientation: portrait) {
  .rwd-masonry-gallery .rwd-item .hover .plan-option {
    max-width: 168px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (orientation: landscape) {
  .rwd-masonry-gallery .rwd-item .hover .plan-option {
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.rwd-masonry-gallery .rwd-item .hover .product-option {
  background-color: transparent;
  color: #333;
}
.rwd-masonry-gallery .rwd-item .hover .btn-success {
  background-color: #7EBE36;
  color: #FFF;
}
.rwd-masonry-gallery .rwd-item .hover .icon-edit {
  vertical-align: -4px;
  margin-left: 3px;
}
.rwd-masonry-gallery .rwd-item .whenAdded {
  color: #4EA33B;
  padding-top: 110px;
  min-height: 300px;
}
.rwd-masonry-gallery .rwd-item .whenNoStock {
  padding-top: 110px;
  min-height: 300px;
  color: #a94442;
}
.rwd-masonry-gallery .rwd-item:hover {
  border: 1px solid #1769b3;
  background-color: transparen;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.gallery-compare-notif-container {
  position: absolute;
  background: #FFFFFF;
  width: 246px;
  padding: 5px 5px;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  left: -160px;
  top: 0px;
  display: none;
  z-index: 105 !important;
}
@media (min-width: 1200px) {
  .gallery-compare-notif-container {
    left: -110px;
  }
}
.gallery-compare-notif-container.gallery-compare-notif-error {
  color: red;
}
@media (max-width: 1024px) {
  .gallery-compare-notif-container {
    left: -124px;
  }
}
@media (max-width: 768px) {
  .gallery-compare-notif-container {
    left: -150px;
  }
}
@media (max-width: 715px) {
  .gallery-compare-notif-container {
    width: 360px;
    left: 131px;
  }
}
@media (max-width: 480px) {
  .gallery-compare-notif-container {
    width: 300px;
    left: 70px;
  }
}
@media (max-width: 430px) {
  .gallery-compare-notif-container {
    width: 260px;
  }
}
@media (max-width: 390px) {
  .gallery-compare-notif-container {
    width: 230px;
  }
}
.gallery-compare-notif-container a {
  font-size: 14px !important;
  text-decoration: underline;
}
.gallery-compare-notif-container:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px 0 10px 11px;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  right: -11px;
  top: 8px;
}
@media (max-width: 715px) {
  .gallery-compare-notif-container:after {
    border-width: 10px 10px 0;
    border-color: #FFFFFF transparent;
    bottom: -10px;
    right: 169px;
    top: auto;
  }
}
@media (max-width: 466px) {
  .gallery-compare-notif-container:after {
    right: 145px;
  }
}
@media (max-width: 430px) {
  .gallery-compare-notif-container:after {
    right: 130px;
  }
}
@media (max-width: 390px) {
  .gallery-compare-notif-container:after {
    right: 110px;
  }
}
.gallery-compare-notif-container:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px 0 10px 11px;
  border-color: transparent #CFCECE;
  display: block;
  width: 0;
  z-index: 0;
  right: -11px;
  top: 8px;
}
@media (max-width: 715px) {
  .gallery-compare-notif-container:before {
    border-width: 10px 10px 0;
    border-color: #CFCECE transparent;
    bottom: -11px;
    right: 169px;
    top: auto;
  }
}
@media (max-width: 466px) {
  .gallery-compare-notif-container:before {
    right: 145px;
  }
}
@media (max-width: 430px) {
  .gallery-compare-notif-container:before {
    right: 130px;
  }
}
@media (max-width: 390px) {
  .gallery-compare-notif-container:before {
    right: 110px;
  }
}
.compare-filter {
  display: inline-block;
  width: auto;
  margin-right: 25px;
}
.compare-filter a {
  color: #1953a5;
}
.compare-filter .badge {
  vertical-align: middle;
  height: 26px;
  width: 26px;
  background-color: #1953a5;
  padding-top: 6px;
  font-size: 16px;
  border-radius: 19px;
  padding-left: 5px;
  padding-top: 5px;
}
@media (max-width: 991px) {
  .compare-filter .badge {
    padding-top: 5px;
  }
}
.compare-filter .product-gallery-compare-button-disabled {
  color: #ccc;
}
.compare-filter .product-gallery-compare-button-disabled .badge {
  background-color: #ccc;
}
.compare-filter .product-gallery-compare-button-disabled .icon-compare {
  background-image: url('../../images/icons/icon-compare-gray.png');
}
.compare-filter .icon-compare {
  vertical-align: text-bottom;
}
@media (max-width: 991px) {
  .compare-filter {
    margin-left: -40px;
    margin-top: -5px;
  }
  .compare-filter .icon-compare {
    vertical-align: -8px;
  }
  .compare-filter .views-button {
    margin-top: 10px;
  }
}
@media (max-width: 360px) {
  .compare-filter {
    margin-left: 0;
  }
}